.about{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: #ADB5BD;
}

.developer{
    margin-top: 10%;
}

.developer-name{
    font-size: 50px;
    font-weight: lighter;
}

.description{
    font-weight: lighter;
    font-size: 20px;
}

.developer-image{
    width: 300px;
    height: auto;
    margin-top: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.developer-subtitle{
    font-weight: lighter;
}

.about-developer{
    border: 1px solid #ADB5BD;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

@media only screen and (min-width : 768px){
    .about{
        padding-top: 20px;
    }

    .description{
        font-size: 30px;
    }

    .developer{
        margin-top: 40px;
    }
}

@media only screen and (max-width : 768px){
    .signature{
        width: 250%;
        height: auto;
    }
}