.navbar{
    background-color: #212529;
    height: auto;
}

.navbar-brand{
    color:#F8F9FA;
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    font-size: 20px;
}

.logo{
    height: auto;
}

.mainLogo{
    width: auto;
    height:40px;
}

.mainLogoWithBadge{
    align-items: center;
    width: auto;
}