.navbar{
    background-color: #212529;
    height: auto;
    align-items: center;
}

.navbar-brand{
    color:#F8F9FA;
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}

.logo{
    height: auto;
}

.mainLogo{
    width: auto;
    height:40px;
}

.mainLogoWithBadge{
    align-items: center;
    width: auto;
}

.hamburger{
    color: #F8F9FA;
}

.nav-item{
    color: #F8F9FA;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;

}

.usernameIcon{
    width: 30px;
    height: auto;
}

.signOutIcon{
    width: 30px;
    height: auto;
}

.collapse > .navbar-nav > .nav-item > .usernameButton > .username {

    color: #848484;
}

.signoutButton{
    display: flex;
    align-items: center;
    background-color: #343A40;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.signoutText{
    margin-left: 5px;
    color: #F8F9FA;
    font-weight: lighter;
}

.collapse > .navbar-nav > .nav-item > .emailButton > .email {
    color: #848484;
    font-size: 30px;
    font-weight: lighter;
}

.emailButton{
    align-items: center;
}

.emailText{
    font-weight: lighter;
}

.usernameButton{
    align-items: center;
}

.usernameText{
    font-weight: lighter;
}
.nav-item{
    cursor: pointer;
    width: fit-content;
}
@media only screen and (min-width : 992px){
    .nav-item{
        margin-left: 130px;
        padding-bottom: 15px;
    }

    .nav-elements{
        align-items: center;
    }

    .navbar-nav{
        align-items: center;
    }

    .collapse > .navbar-nav > .nav-item > .usernameButton > .username {
        font-size: 20px;;
        color: #848484;
    }

    .collapse > .navbar-nav > .nav-item > .emailButton > .email {
        color: #848484;
        font-size: 20px;
        font-weight: lighter;
    }
}