.post{
    display: flex;
    color: #F8F9FA;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #6C757D;
}

.profileIcon{
    width: 50px;
    height: auto;
}

.postLeft{
    margin-right: 10px;
}
.postRight_1{
    display: flex;
    align-items: center;
}
.username{
    font-size: 30px;
    margin-right: 10px;
    font-weight: 100;
}

.timestamp{
    margin-top: 10px;
    font-weight: 100;
    color: #ADB5BD;
    font-size: smaller;
}

.postImage{
    margin-top: 10px;
    width: 100%;
    height: auto;
    border-radius: 10px; 
}


.replyText{
    color: #ADB5BD;
    font-size:medium;    
    font-weight: 200;
}

.replyButton{
    display: flex;
    cursor: pointer;
    align-items: center;
}

.replyIcon{
    margin-left: 5px;
}

.postFooter{
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.repliesCount{
    font-size: 12px;
    /* font-weight: 300; */
    background-color: #212529;
    border-radius: 50px;
    min-width: 25px;
    width: auto;
    height: auto;
    text-align: center;
    margin-right: 5px;
    padding: 5px;
}

@media only screen and (min-width : 768px){
    .postImage{
        width: 500px;
    }
    .postRight{
        width: 45%;
    }
}

@media only screen and (max-width : 768px){
    .postRight{
        width: 100%;
    }
}