.post{
    display: flex;
    color: #F8F9FA;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #6C757D;
}

.profileIcon{
    width: 50px;
    height: auto;
}

.postLeft{
    margin-right: 10px;
}

.postRight_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userNameAndIcon{
    display: flex;
    align-items: center;
}

.username{
    font-size: 30px;
    margin-right: 5px;
    font-weight: 100;
}

.timestamp{
    margin-top: 10px;
    font-weight: 100;
    color: #ADB5BD;
    font-size: smaller;
}

.postImage{
    margin-top: 10px;
    width: 100%;
    height: auto;
    border-radius: 10px; 
}


.replyText{
    color: #ADB5BD;
    font-size:medium;    
    font-weight: 200;
}

.replyButton{
    display: flex;
    cursor: pointer;
    align-items: center;
}

.likeButton{
    display: flex;
    cursor: pointer;
    align-items: center;
}

.likeText{
    margin-left: 5px;
    color: #F8F9FA;
}

.post > .postRight > .postFooter > .likeButton > .filledLikeIcon{
    color: #ef233c;
}

.verifiedIcon{
    width: 20px;
    height: auto;
}

.postFooter{
    margin-top: 15px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.repliesCount{
    margin-left: 5px;
}

@media only screen and (min-width : 768px){
    .postImage{
        width: 500px;
    }
    .postRight{
        width: 45%;
    }
}

@media only screen and (max-width : 768px){
    .postRight{
        width: 100%;
    }
}