body{
  background-color: #343A40;
}
.middle{
  border-left: 1px solid #6C757D;
  border-right: 1px solid #6C757D;
  min-height: 100vh;
  height: 100%;
  margin-top: 0px;
}

body::-webkit-scrollbar {
  display: none;
}